<!-- <div id="sidebar">
    <button id="dashboard" onclick="showForm(this.id)">Dashboard</button>
    <button id="department" onclick="showForm(this.id)">Department</button>
    <button id="doctor" onclick="showForm(this.id)">Doctor</button>
    <button id="patient" onclick="showForm(this.id)">Patient</button>
  </div> -->

<div id="sidebar">
  <div class="sidebar-button">
    <center><button id="dashboard"><a href="/admin" class="routes"> Dashboard </a></button>
    <button id="department"><a href="/admin/dept" class="routes">Department</a></button>
    <button id="doctor"><a href="/admin/doctor" class="routes">Doctor</a></button>
    <button id="patient"><a href="/admin/patient" class="routes">Patient</a></button>
    <button id="appointment"><a href="/admin/appointment" class="routes">Appointment</a></button></center>
  </div>
</div>
