    <%-include('common/head.ejs')-%>
    <title>Hospital Management System</title>
  </head>
    <body>
    <div id="container">
      
        <%-include('common/sidebar.ejs')-%>
        
        <div id="content">
        <%-include('common/welcome.js')  %>
        <div id="dashboard-form" class="form-container active">
          <!-- <video autoplay loop muted>
            <source src="/images/video (1080p).mp4">
          </video> -->
          <img src="/images/fcacd784b8b929c66a1150d2ed2e2044.jpg" alt="" srcset="">
        </div>

    <%-include('common/footer.ejs')-%>
