    <%-include('common/head.ejs')-%>
    <title>Hospital Management System</title>
  </head>
    <body>
    <div id="container">
      
        <%-include('common/sidebar.ejs')-%>
      <div id="content">
        <div class="welcome">
          <h1>Welcome Admin</h1>
          <div class="right">
            <a href="/logout" class="btn-green mt-20px">Logout</a>
    </div>

        </div>
          <div id="dashboard-form" class="form-container active">
              <!-- Dashboard Form Content -->
              <video autoplay loop muted>
                <source src="/images/video (1080p).mp4">
              </video>
          </div>
     
        
      </div>
    </div>
    <%-include('common/footer.ejs')-%>
