    <%-include('common/head.ejs')-%>
    <title>Hospital Management System</title>
  </head>
    <body>
    <div id="container">
      
        <%-include('common/sidebar.ejs')-%>
        
        <div id="content">
        <%-include('common/welcome.js')  %>
        <div id="dashboard-form" class="form-container active">
          <video autoplay loop muted>
            <source src="/images/video (1080p).mp4">
          </video>
        </div>

    <%-include('common/footer.ejs')-%>
