<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital management</title>
    <link rel="stylesheet" href="/stylesheets/sample.css">
</head>

<body>
    <div class="main">
        <div class="page1">
            <nav>
                <div class="logo"><img src="/images/Logoremovedbackground.png" alt="logo"></div>
                <div id="nav-mid">
                    <h4><a href="#">Doctors</a></h4>
                    <h4><a href="#">Services</a></h4>
                    <h4><a href="#">Directions</a></h4>
                </div>
                <div id="nav-right">
                    <a href="#book" class="btn-green">
                        <i class="fas fa-calendar-week"></i>Book an appointment
                    </a>
                    <a href="#" class="btn-green message-box" id="message-box">
                        <i class="fas fa-message"></i>
                        <div class="status-box hidden">
                            <div class="head">
                                <h3>Appointment Status</h3>
                                <hr>
                            </div>
                        </div>
                        <hr>
                    </a>
                    <a href="/logout" class="btn-green">
                        Logout
                    </a>
                </div>

            </nav>
        </div>
        <!-- video -->
        <section class="banner">
            <div class="banner-content">
                <h1> Our expertise at your service</h1>
            </div>
            <video autoplay loop muted>
                <source src="images/pexels-ron-lach-7579331 (2160p).mp4" type="video/mp4">
            </video>
        </section>

        <!-- sticky -->
        <div class="service">
            <a href="#services">
                <div class="service-content">
                    Our Service Providers
                    <div class="service-icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                </div>
    
            </a>
            <a href="#book">
                <div class="service-content">
                    Book an Appointment
                    <div class="service-icon">
                        <i class="fas fa-calendar"></i>
                    </div>
                </div>
    
            </a>
            <a href="#">
                <div class="service-content">
                    Have an emergency ?
                    <div class="service-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                </div>
                <div class="call-number">
                    <p>Emergency Line</p>
                    <h3>123-456-789</h3>
                </div>
    
            </a>
        </div>
</div>



</body>

</html>