.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: 5vh auto;
  
}


.mySlides {
  display: none;
  position: relative;
  /* border: 2px solid red; */

}
.mySlides img {
  width: 100%;
  height: 50vh; 
  object-fit: cover;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: 50px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: -80px;
  border-radius: 3px 0 0 3px;
  

}
.prev{
  left:-80px;
  border-radius: 3px 0 0 3px;
  

}


/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */
#service-head{
  margin: 2px 45px;
}
.additional-box {
  border: 4px solid skyblue;
  padding: 25px; 
  min-height: 40vh;
  margin: 10px 0; 
  border-radius: 10px; 
  background-color:transparent; 
  box-shadow: 0 0 15px #96d2fa; 

}


.additional-box p {
  font-size: 18px;
  line-height: 1.6;
  color: black;
  margin: 0; 
}


.text {
  color: #fff; 
  font-size: 24px; 
  font-weight: bold; 
  padding: 10px; 
  background-color: rgba(0, 0, 0, 0.5); 
  position: absolute; 
  top:0;
  width: 100%; 
  text-align: center; 
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}